<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rays.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Rays.Properties.Settings>
            <setting name="LogEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultiThread" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumThreads" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ConsForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ConsBackColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="ConsFont" serializeAs="String">
                <value>Courier New, 11.25pt</value>
            </setting>
            <setting name="LoadAllRays" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawAxis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AxisStep" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AxisMax" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="AxisCaptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FaceHighlight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FaceHighlightColor" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="CollapseConsoleOnStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StoreFileHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TraceOnMove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OctreeEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OctreeDeepness" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="OctreeMinFaces" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GLPerspective" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GLPerspectiveFoV" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="LastPath" serializeAs="String">
                <value />
            </setting>
        </Rays.Properties.Settings>
    </userSettings>
</configuration>